html{
    height: 100%;
}
.wrapper{
    position:absolute;
    top:0;
    padding-top: 70px;
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    padding: 100px;
    padding-top: 20px;
}

.add{
    color: #71ce71;
    float: right;
    font-size: 180%;
    cursor: pointer;
    
    .fa{
        vertical-align: middle;
    }
}

.table-footer {
    border: 1px solid #d7d7d7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 2px -2px lightgray;
    border-top: none;
}

tr:hover{
    .delete .fa{
        visibility: visible;
    }
}
.delete{
    width: 32px;
    color: red;
    
    .fa{
        font-size: 150%;
        visibility: hidden;
    }
    
}

$border-color: #d6e3e9;
$background-color: white;
#puppyTable{
    width: 100%;
    tbody tr:last-child td{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    th{
        color: #497c99;
    }
    th, td{
        background: $background-color;
        border-bottom: 1px solid $border-color;
    }
    
    tr {
        td{
            cursor: pointer;
        }
        
        td:first-child, th:first-child{
           border-left: 1px solid $border-color; 
        }
        
        td:last-child, th:last-child{
            border-right: 1px solid $border-color;
        }
    }
}

@media(max-width: 815px){
    .container{
        padding: 20px;
    }
}

@media(max-width: 628px){
    .container{
        padding: 0px;
    }
    
    .table-footer{
        border-radius: 0px;
    }
    
    .delete{
        .fa{
            font-size: 150%;
            visibility: visible;
            opacity: .5;
        }
        
    }
}