$readymed-blue: #497c99;
$border-blue: #d6e3e9;
$footer-background: #333333;
$header-border: red;
$header-background: white;
$active-menu-item-background: #f7f7f7;
$box-shadow: 0 4px 2px -2px lightgray;
$border-gray: lightgray;
$background-color: white;

$search-border: #d1d1d1;