@import 'colors';

*, *:before, *:after{
    box-sizing: inherit;
}

body, html{
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a{
    color: $readymed-blue !important;
}

label.required{
    &:after{
        content: '*';
    }
    
    &.error{
        color: red;
    }
}

.icon{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}

.button{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    color: $readymed-blue;
    font-size: 200%;
    text-align: center;
}

.buttons{
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn.btn-custom {
    border: 1px solid $border-blue;
    color: $readymed-blue;
    background: white;
    
    .fa{
        margin-right: 5px;
    }
}

.pet-detail{
    .form-container{
        float: right;
    }
    .form-wrapper{
        padding: 0px;
    }
} 

.right{
    float: right;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

@media(max-width: 628px){
    .content-container{
        width: 100%;
    }
}

