*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #497c99; }

.form-wrapper {
  width: 100%;
  text-align: center;
  padding: 10px; }

.form-container {
  display: inline-block;
  padding: 20px;
  box-shadow: 0 4px 2px -2px lightgrey;
  border: 1px solid lightgray;
  margin: 0 auto;
  border-radius: 5px;
  text-align: left;
  width: 30%;
  min-width: 244px; }

.form-button {
  width: 100%;
  text-align: right; }

label.required:after {
  content: '*'; }
label.required.error {
  color: red; }

.header {
  position: relative;
  height: 70px;
  line-height: 70px;
  border-bottom: 3px solid red;
  z-index: 100;
  background: white;
  padding-left: 20px;
  box-sizing: content-box; }

.icon {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  vertical-align: middle; }

.button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  color: #497c99;
  font-size: 200%;
  text-align: center; }

.icon-svg {
  transform: translateY(10px); }

.icon-container {
  font-size: 225%;
  font-weight: bold;
  color: #497c99 !important; }
  .icon-container a {
    text-decoration: none !important; }
  .icon-container .icon-red {
    color: red;
    font-weight: normal; }
  .icon-container img {
    vertical-align: middle;
    margin-top: -8px; }

.menu-open {
  display: none; }

.menu .active .menu-item {
  background: #f7f7f7; }

.menu-item {
  display: inline-block;
  min-width: 60px;
  padding: 0px 20px;
  border-left: 1px solid #497c99;
  text-align: center; }
  .menu-item .fa {
    margin-left: 10px;
    font-size: 180%;
    vertical-align: middle; }

.hero {
  position: fixed;
  top: 0; }
  .hero img {
    width: 100%;
    height: 100%; }

.hero-view {
  position: relative;
  background: rgba(43, 43, 43, 0.59);
  padding: 100px 10px; }
  .hero-view .hero-content {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #000000; }
    .hero-view .hero-content .hero-header {
      font-size: 250%;
      margin-bottom: 20px; }
    .hero-view .hero-content .hero-caption {
      width: 50%;
      margin: 0 auto;
      line-height: 2;
      margin-bottom: 40px; }
    .hero-view .hero-content .hero-button {
      display: inline;
      padding: 10px 45px;
      border: 1px solid;
      border-radius: 5px;
      font-size: 130%; }

.content {
  position: relative;
  background: white;
  padding: 40px 0px; }
  .content.blue {
    background: #497c99;
    color: white;
    height: 400px; }

.content-header {
  text-align: center;
  font-size: 200%;
  margin-bottom: 40px; }

.content-container {
  width: 70%;
  margin: 0 auto; }

.opt-container {
  padding: 10px; }

.opt {
  width: 33.3333%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 10px;
  height: 80px; }
  .opt .opt-icon {
    font-size: 308%;
    margin-top: -6px;
    display: block;
    float: left; }
  .opt .opt-text-wrapper {
    text-align: center; }
    .opt .opt-text-wrapper .opt-text {
      transform: translateY(84%); }

.buttons {
  width: 30%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px; }

.btn.btn-custom {
  border: 1px solid #d6e3e9;
  color: #497c99; }
  .btn.btn-custom .fa {
    margin-right: 5px; }

.card {
  width: 33.3333%;
  text-align: center;
  float: left;
  padding: 0px 20px;
  margin-bottom: 50px !important; }
  .card .card-icon {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 75px;
    background: #497c99;
    color: white;
    font-size: 350%;
    margin-bottom: 10px; }
    .card .card-icon i.fa.fa-users {
      position: absolute;
      font-size: 40%;
      top: 44px;
      left: 39px; }
  .card .card-header {
    font-weight: bold;
    margin: 20px 0px; }

#puppyTable {
  width: 100%; }
  #puppyTable th, #puppyTable td {
    padding: 10px; }
  #puppyTable tr.selected td {
    background: lightgray; }

.pet-detail .form-container {
  float: right; }
.pet-detail .form-wrapper {
  padding: 0px; }

.t-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%; }

.t-row {
  display: table-row;
  height: 100%;
  width: 100%; }

.t-cell {
  display: table-cell;
  height: 100%;
  vertical-align: top; }

.cell-container {
  height: 100%;
  overflow-y: auto; }

.right {
  float: right; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

@media (min-width: 1527px) {
  .hero-view .hero-content .hero-caption {
    width: 33%; } }
@media (max-width: 1151px) {
  .hero-view .hero-content .hero-caption {
    width: 45%; } }
@media (max-width: 907px) {
  .hero-view {
    padding: 50px 10px; } }
@media (max-width: 815px) {
  .card {
    float: none;
    margin: 0 auto;
    width: 100%; }

  .hero {
    height: 100vh;
    background: url(./assets/readypets-bg.jpg);
    background-size: cover;
    background-position-x: center;
    width: 100%; }
    .hero img {
      display: none; }

  .header {
    padding-right: 20px; }

  .menu {
    display: none; }

  .menu-open {
    display: inline-block; }

  .open .menu-open {
    box-shadow: inset 0px 0px 7px #a2a0a5; }

  .open .menu {
    display: initial;
    position: absolute;
    top: 70px;
    right: 0;
    border: 3px solid red;
    border-top: none;
    border-right: none; }
    .open .menu a {
      text-decoration: none; }
      .open .menu a:last-child .menu-item {
        border-bottom: none; }
    .open .menu .menu-item {
      background: white;
      display: block;
      min-width: 150px;
      border: none;
      text-align: center;
      border-bottom: 1px solid #497c99; } }
@media (max-width: 628px) {
  .content-container {
    width: 100%; }

  .hero-view .hero-content .hero-caption {
    width: 80%; } }
@media (max-width: 339px) {
  .header {
    padding: 0px 10px; }

  .icon-text {
    font-size: 80%;
    top: -3px; } }
@media (max-width: 290px) {
  .icon-text {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
