<div class="hero"><img src="../assets/readypets-bg.jpg" /></div>
<div class="hero-view">
    <div class="hero-content">
        <div class="hero-header">People's Pet Adoption Network</div>
        <div class="hero-caption">Use READYPET to Search, Find, and Adopt Puppies and Kittens for Your Pet and Enjoyment Needs</div>
        <div class="hero-button"><a routerLink="/puppies" routerLinkActive="true">Get Started</a></div>
    </div>
</div>
<div class="content clearfix">
    <div class="content-container">
        <div class="content-header">Finding a pet doesn't have to be difficult</div>
        <div class="cards">
            <div class="card">
                <div class="icon card-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                <div class="card-header">Tell us what you need</div>
                <div class="card-content">Post a breed and set your talent qualification and skill requirements. Our matching platform will help you find the perfect pet.</div>
            </div>
            <div class="card">
                <div class="icon card-icon"><i class="fa fa-folder-o" aria-hidden="true"></i><i class="fa fa-users" aria-hidden="true"></i></div>
                <div class="card-header">Compare Talent</div>
                <div class="card-content">View profiles and reviews or use our screening tools to compare and vet cats or dogs. Best of all, pets bid on your love ensuring you get the most competitive rates.</div>
            </div>
            <div class="card">
                <div class="icon card-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                <div class="card-header">Collaborate and Adopt</div>
                <div class="card-content">Use our platform to track and communicate with cats or dogs. Adopt your favorite and get started working.</div>
            </div>
        </div>
    </div>
</div>
<div class="content blue clearfix">
    <div class="content-container">
        <div class="content-header">Where we can help</div>
    </div>
</div>
<div class="footer">
    <div class="top"><span class="link">About</span><span class="link">Contact</span><span class="link">FAQs</span><span class="link">Terms & Conditions</span></div>
    <div class="bottom"><span class="footer-logo"><span class="ready">READY</span><span class="pet">PET</span></span><span class="copyright">2016</span></div>
</div>